/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  background: #00023d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
}
@container body (min-width: 1024px) {
  #top-nav {
    padding: 65px 100px;
    justify-content: space-between;
  }
}

#logo {
  width: 32px;
  height: 32px;
}
@container body (min-width: 1024px) {
  #logo {
    width: 48px;
    height: 48px;
  }
}

#hamburgerNav {
  box-sizing: border-box;
  height: 48px;
  width: 48px;
  padding: 15px 12px;
  margin-right: calc((100% - 170px) / 2);
}
@container body (min-width: 1024px) {
  #hamburgerNav {
    display: none;
  }
}

#hamburger1,
#hamburger2,
#hamburger3 {
  margin-bottom: 6px;
  display: block;
  width: calc(100% - 2px);
  border: 1px solid #ffffff;
  border-radius: 2px;
}

#hamburger3 {
  width: 58%;
  margin-bottom: 0;
}

#top-nav nav ul {
  display: none;
}
@container body (min-width: 1024px) {
  #top-nav nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

#site-nav ul {
  gap: 48px;
}
#site-nav ul li a {
  font-size: 14px;
  opacity: 0.3;
}
#site-nav ul li a.-active {
  font-weight: 500;
  opacity: 1;
}
#site-nav ul li a.-active:after {
  content: "";
  display: block;
  width: 14px;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
  margin-top: 10px;
}

.social-nav ul {
  gap: 16px;
}

#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#heroH1 {
  white-space: pre-line;
}
@container body (min-width: 1024px) {
  #heroH1 {
    white-space: normal;
  }
  #heroH1 span:nth-child(2) {
    margin-left: -20px;
  }
  #heroH1 span:nth-child(3) {
    margin-left: -25px;
  }
}

#hero-caption {
  margin-top: 16px;
  margin-bottom: 48px;
}
@container body (min-width: 1024px) {
  #hero-caption {
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

#hero-scroll {
  font-size: 0.625rem;
  margin-top: auto;
  margin-bottom: 16px;
  color: #ffffff;
  text-decoration: none;
}

#hero-scroll:after {
  content: "";
  display: block;
  height: 24px;
  width: 0;
  border: 1px solid #ffffff;
  margin: 0 auto;
  margin-top: 8px;
}

@container body (min-width: 1024px) {
  .mission-header-goals-wrapper p {
    max-width: 600px;
    margin-left: 100px;
  }
}
.mission-header-goals-wrapper ul {
  max-width: 380px;
  margin: 0 auto;
}
@container body (min-width: 1024px) {
  .mission-header-goals-wrapper ul {
    max-width: unset;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    place-items: start;
    position: relative;
  }
}
@container body (min-width: 1024px) {
  .mission-header-goals-wrapper li p {
    margin-left: 0;
  }
}

.goals {
  justify-content: center;
  text-align: center;
}

@container body (min-width: 1024px) {
  .mission-briefing-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    place-items: start;
    position: relative;
    padding-top: 202px;
  }
}
@container body (min-width: 1440px) {
  .mission-briefing-wrapper {
    column-gap: 100px;
  }
}
.mission-briefing-wrapper .briefing,
.mission-briefing-wrapper .debriefing {
  display: block;
}
@container body (min-width: 1024px) {
  .mission-briefing-wrapper .briefing h3,
  .mission-briefing-wrapper .debriefing h3 {
    margin-left: -2px;
    padding: 0;
  }
}
.mission-briefing-wrapper .briefing ul,
.mission-briefing-wrapper .debriefing ul {
  list-style-type: disc;
  flex-direction: column;
  text-align: left;
  padding-top: 6px;
}
.mission-briefing-wrapper .briefing ul li,
.mission-briefing-wrapper .debriefing ul li {
  padding-top: 0;
}
@container body (min-width: 1024px) {
  .mission-briefing-wrapper .briefing {
    padding-right: 40px;
    border-right: 1px solid #ffffff;
  }
}
@container body (min-width: 1440px) {
  .mission-briefing-wrapper .briefing {
    padding-right: 100px;
  }
}

body {
  background-color: #00023d;
  color: #ffffff;
  container: body/inline-size;
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: 0.05rem;
}
@container body (min-width: 1024px) {
  body {
    text-align: center;
  }
}
body mark {
  font-weight: 500;
  display: inline-block;
}

#gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at top left, rgba(26, 187, 169, 0.5), transparent 30%), radial-gradient(circle at bottom right, rgba(26, 187, 169, 0.5), #00023d 30%);
  z-index: -1;
}

section {
  margin: 0 auto;
  padding: 82px 24px 0;
}
@container body (min-width: 768px) {
  section {
    padding: 200px 72px 0;
    max-width: 1040px;
  }
}
@container body (min-width: 1440px) {
  section {
    padding: 200px 200px 0;
  }
}
@container body (min-width: 1024px) {
  section div > div {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.1944;
}
@container body (min-width: 1024px) {
  h1 {
    font-size: 96px;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 120.8333%;
  margin: 0 0 24px -10px;
}
@container body (min-width: 1024px) {
  h2 {
    font-size: 3.75rem;
    line-height: 120%;
  }
}
h2 .mark-teal {
  font-weight: 400;
  display: block;
  padding: 0 0.5908rem 2.125rem 0.5908rem;
  width: fit-content;
}
h2 span {
  margin: 0 0 30px 10px;
  display: block;
}

h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  padding-top: 64px;
}
@container body (min-width: 1024px) {
  h3 {
    padding-top: 202px;
  }
}
h3 img {
  padding-right: 18px;
}

h4 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 200%;
  text-transform: capitalize;
}

a {
  letter-spacing: 0.05em;
  color: #1abba9;
}
a:hover, a:focus, a:active {
  color: #00ffe2;
}

ul {
  text-align: center;
  /* li {
    @container body (min-width: 1024px) {
      padding-left: 52px;

      &:first-of-type {
        padding-left: 0;
      }
    }
  } */
}
@container body (min-width: 1024px) {
  ul:first-of-type {
    display: flex;
    justify-content: space-between;
  }
}
@container body (min-width: 1440px) {
  ul:first-of-type {
    margin: 0;
  }
}
ul li > img {
  padding: 50px 0 22px;
}
@container body (min-width: 1024px) {
  ul li > img {
    padding: 88px 0 32px;
  }
}
ul a {
  text-decoration: underline;
}

ol {
  list-style: auto;
  padding-left: 20px;
}
ol li::marker {
  font-weight: 500;
  font-size: 1.125rem;
}
ol li {
  padding: 36px 0 0 8px;
}
@container body (min-width: 1024px) {
  ol li {
    padding: 50px 0 0 8px;
  }
  ol li:first-of-type {
    padding-top: 56px;
  }
}
ol li > p {
  margin-left: -30px;
}

.mark-teal {
  color: #ffffff;
  line-height: 0;
  padding: 0 0.25rem 0.75rem 0.25rem;
  background-color: rgba(26, 187, 169, 0.5);
}

.link-register {
  padding: 24px 32px;
  border: 1px solid #ffffff;
  border-radius: 54px;
  font-weight: 300;
  line-height: 118.75%;
  color: #ffffff;
  text-decoration: none;
}
@container body (min-width: 1024px) {
  .link-register {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=index.css.map */
