@use '../colors';

.faq-list {
  &:first-of-type {
    @container body (min-width: 1024px) {
      display: block;
    }
  }

  li {
    text-align: left;
    border-bottom: 1px solid;
    padding: 24px 0;

    .h4,
    h3 {
      padding: 0 32px 0 0;
      margin-bottom: 0;
      text-transform: none;

      @container body (min-width: 768px) {
        padding-right: 48px;
      }
    }

    .faq-details {
      position: relative;

      &:focus-within {
        outline: 2px dashed colors.$color-white;
        outline-offset: 12px;
      }

      &[open] {
        summary:before {
          display: none;
        }
      }

      summary {
        list-style-type: none;
        margin-bottom: 8px;

        &::-webkit-details-marker {
          display: none;
        }

        &:before {
          content: '';
          display: inline-block;
          border-right: 1px solid colors.$color-white;
          height: 16px;
          position: absolute;
          right: 8px;
          top: 10px;
        }

        &:after {
          content: '';
          display: inline-block;
          border-top: 1px solid colors.$color-white;
          width: 17px;
          position: absolute;
          top: 17px;
          right: 0;
        }
      }
    }
  }
}
