.faq {
  .faq-details {
    position: relative;
  }

  summary::marker {
    /* color: colors.$color-white;
    position: absolute;
    right: -45px;
    margin-top: 32px;
    width: 24px;
    height: 24px;

    &:focus {
      outline: 2px dashed colors.$color-white;
      outline-offset: 5px;
    } */
  }
}
