footer {
  padding: 65px 0 40px 0;

  ul:first-of-type {
    @container body (min-width: 1440px) {
      margin: 0 auto;
    }
  }

  @container body (min-width: 768px) {
    padding: 75px 0 50px 0;
  }
}
