@use '../colors';

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#hero-caption {
  margin-top: 16px;
  margin-bottom: 48px;

  @container body (min-width: 1024px) {
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

.date-header {
  color: colors.$color-text;
  font-weight: 500;
  display: inline-block;
  line-height: 0em;
  padding: 0 0.25em 0.75em 0.25em;
  background-color: colors.$color-teal-opaque;
}
