@use '../colors';

// Top Navigation Bar
#top-nav {
  background: colors.$color-blue;
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

  @container body (min-width: 1024px) {
    padding: 50px 0 25px 0;
  }
}

#top-nav .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;

  @container body (min-width: 1024px) {
    padding: 0 200px;
    justify-content: space-between;
  }
}

// WillowTree Logo
.logo {
  width: 32px;
  height: 32px;

  @container body (min-width: 1024px) {
    width: 48px;
    height: 48px;
  }

  &.-mobile {
    @container body (min-width: 1024px) {
      display: none;
    }
  }

  &.-desktop {
    display: none;

    @container body (min-width: 1024px) {
      display: block;
    }
  }
}

// Hamburger Menu Button for mobile/tablet
#hamburgerNav {
  box-sizing: border-box;
  height: 48px;
  width: 48px;
  padding: 15px 12px;
  margin-right: calc((100% - 170px) / 2);
  cursor: pointer;

  @container body (min-width: 1024px) {
    display: none;
  }
}

#hamburger1,
#hamburger2,
#hamburger3 {
  margin-bottom: 6px;
  display: block;
  width: calc(100% - 2px);
  border: 1px solid colors.$color-white;
  border-radius: 2px;
}

#hamburger3 {
  width: 58%;
  margin-bottom: 0;
}

// Site Navigation
// Mobile: Hamburger Menu
// Desktop: Top Navigation
.site-nav {
  background: colors.$color-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  top: 0;
  min-width: 295px;
  position: absolute;
  visibility: hidden;

  @container body (min-width: 1024px) {
    align-items: center;
    background: none;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    position: static;
    width: 100%;
    visibility: visible;
  }
}

.site-nav ul {
  display: flex;

  &.site-nav-links {
    flex-direction: column;
    gap: 24px;
    padding: 64px 32px 0 32px;

    @container body (min-width: 1024px) {
      flex-direction: row;
      gap: 16px;
      padding: 0;
    }

    @container body (min-width: 1240px) {
      gap: 48px;
    }
  }

  &.social-nav {
    flex-direction: row;
    width: max-content;
    margin: 0 auto;

    & img {
      width: 22px;
      height: 22px;
    }

    @container body (min-width: 1024px) {
      margin: 0;

      & img {
        width: 15px;
        height: 15px;
      }
    }
  }

  & li {
    position: relative;
  }

  & li a {
    color: colors.$color-white;
    font-size: 24px;

    @container body (min-width: 1024px) {
      font-size: 14px;
    }
  }
}

.site-nav-links a {
  color: colors.$color-white;
  text-decoration: none;
  opacity: 0.3;

  &.-active,
  &:hover,
  &:focus {
    font-weight: 500;
    opacity: 1;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      border-bottom: 1px solid colors.$color-white;
      margin-top: 8px;

      @container body (min-width: 1024px) {
        margin-top: 10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
      }
    }
  }
}

// Social Navigation
.social-nav-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: auto;
  padding-bottom: 40px;

  @container body (min-width: 1024px) {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.social-nav li:not(:first-child) a {
  padding-left: 12px;

  @container body (min-width: 1024px) {
    padding-left: 8px;
  }
}

.social-nav li:not(:last-child) a {
  padding-right: 12px;

  @container body (min-width: 1024px) {
    padding-right: 8px;
  }
}

.copyright {
  font-size: 12px;
  text-align: center;

  @container body (min-width: 1024px) {
    display: none;
  }
}
