@use '../colors';

// Top Navigation Bar
#top-nav {
  background: colors.$color-blue;
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

  @container body (min-width: 1024px) {
    padding: 50px 0 25px 0;
  }
}

// WillowTree Logo
#logo {
  width: 32px;
  height: 32px;

  @container body (min-width: 1024px) {
    width: 48px;
    height: 48px;
  }
}

// Hamburger Menu Button for mobile/tablet
#hamburgerNav {
  box-sizing: border-box;
  height: 48px;
  width: 48px;
  padding: 15px 12px;
  margin-right: calc((100% - 170px) / 2);
  cursor: pointer;

  @container body (min-width: 1024px) {
    display: none;
  }
}

#hamburger1,
#hamburger2,
#hamburger3 {
  margin-bottom: 6px;
  display: block;
  width: calc(100% - 2px);
  border: 1px solid colors.$color-white;
  border-radius: 2px;
}

#hamburger3 {
  width: 58%;
  margin-bottom: 0;
}

// Hamburger Menu Modal for mobile/tablet
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  background: colors.$color-blue;
  height: 100vh;
  width: 295px;

  @container body (min-width: 1024px) {
    display: none;
  }

  & ul {
    display: flex;
    flex-direction: column;

    & li a {
      color: colors.$color-white;
    }
  }
}

// Site Navigation
#top-nav .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;

  @container body (min-width: 1024px) {
    padding: 0 200px;
    justify-content: space-between;
  }
}

#top-nav .site-nav ul,
#top-nav .social-nav ul {
  display: none;

  @container body (min-width: 1024px) {
    display: flex;
  }
}

.site-nav ul {
  gap: 16px;

  @container body (min-width: 1240px) {
    gap: 48px;
  }
}

.site-nav ul a {
  color: colors.$color-white;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.3;

  &.-active,
  &:hover,
  &:focus {
    font-weight: 500;
    opacity: 1;

    &:after {
      content: '';
      display: block;
      width: 14px;
      border-bottom: 1px solid colors.$color-white;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}

// Social Navigation
.social-nav li:not(:first-child) a {
  padding-left: 8px;
}

.social-nav li:not(:last-child) a {
  padding-right: 8px;
}
