$color-blue: #00023d;
$color-teal: #1abba9;
$color-bright-teal: #00ffe2;
$color-teal-50: rgba(26, 187, 169, 0.5);
$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-black-25: rgba(0, 0, 0, 0.25);
