@use './colors';

// General
#hero {
  padding: 24px;
}

@container body (min-width: 1024px) {
  #hero {
    padding: 65px 100px;
  }
}

#top-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

// WillowTree Logo
#logo {
  width: 32px;
  height: 32px;
}

@container body (min-width: 1024px) {
  #logo {
    width: 48px;
    height: 48px;
  }
}

// Navigation
nav ul {
  display: none;
}

nav ul li a {
  color: colors.$color-text;
  text-decoration: none;
  // opacity: 0.25;
}

// TODO: what should our media queries look like? create a .scss file for queries?
@container body (min-width: 1024px) {
  #site-nav ul {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  #social-nav ul {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
// Hero content
